<section class="nav_footer_block">
  <header class="header-nav-block">
      <div class="container">
          <div class="nav-block">
              <nav class="nav-section-1">
                  <div>
                    <a  routerLink="">
                        <img src="assets/images/Fotor/Logo.png" alt="image" class="nav-logo-1">
                    </a>
                  </div>
                  <div class="nav-text-f-1">
                    <div class="nav-text"><a routerLink="">Home</a></div>  
                    <div class="nav-text"><a routerLink="blog">Blog</a></div>
                    <div class="nav-text"><a routerLink="about-us">About us</a></div>
                     <div class="nav-text"><a routerLink="contact-us">Contact us</a></div>
                    <div class="nav-text"><a routerLink="privacy">Privacy Policy</a></div>
                  </div>
              </nav>
          </div>
      </div>
  </header>
  <div class="container">
      <div class="footer_block">
          <h2 class="footre-title">
              Subscribe to our news letter to get <br>
              latest updates and news
          </h2>
          <div>
              <form class="form_flex">
                  <input type="email" name="email" placeholder="Enter Your Email" class="footer-input">
                  <div class="startup-button">
                      <a href="#">Subscribe</a>
                  </div>
              </form>
          </div>
      </div>
      <div class="footer-links">
          <div>
              <p class="footer-links-text">
                  Finstreet 118 2561 Fintown <br>
                  Hello@finsweet.com 020 7993 2905
              </p>
          </div>
          <div class="footr-links-icon">
              <a href="#">
                  <img src="assets/images/hedr/Negative.png" alt="image">
              </a>
              <a href="#">
                  <img src="assets/images/hedr/Vector.png" alt="image">
              </a>
              <a href="#">
                  <img src="assets/images/hedr/instagram-.png" alt="image">
              </a>
              <a href="#">
                  <img src="assets/images/hedr/Group.png" alt="image">
              </a>
          </div>
      </div>
  </div>
</section>
