.container_concat{
  width: 800px;
  margin: auto;
  padding-bottom: 128px;
}
.coccat_block-1-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  margin-bottom: 31px;
}
.coccat_block-1-text-1{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 31px;
}
.coccat_block-1-text-2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}
.coccat_block-1{
  text-align: center;
  padding: 127px 0px 70px;
}
.coccat_block-2-m-1-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.6;
  line-height: 20px;
  margin-bottom: 20px;
}
.border_bottom{
  border-bottom: 2px solid gray;
  width: 295px;
  margin-bottom: 25px;
  opacity: 0.5;
}
.coccat_block-2 {
  background-color: rgba(89, 46, 169, 1);
  padding: 48px 68px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.border_bottom + p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}
.border_bottom + p +span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.6;
}
.input-1{
  padding: 24px;
  width: 800px;
  height: 76px;
  margin-bottom: 17px;
  border: 1px solid rgba(182, 182, 186, 1);
  
}
.input-1::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.input-2{
  padding: 14px 24px 60px ;
  width: 800px;
  height: 144px;
  border: 1px solid rgba(182, 182, 186, 1);

}
.input-2::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.form_block{
  margin-top: 32px;
}
.form-button{
  background: #FFD050;
  width: 800px;
  padding: 20px 0px;
  border: none;
  margin-top: 17px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}

.input-3{
  width: 720px;
  height: 74px;
  margin-bottom: 17px;
  border: none;
  outline: none;
}
.input-4{
  padding-left: 24px;
  width: 800px;
  height: 76px;
  margin-bottom: 17px;
  border: 1px solid rgba(182, 182, 186, 1);
}
.border_bottom-2{
  display: none;
}
@media screen and (max-width:1080px){
  .container_concat {
    width: 700px;
  }
  .coccat_block-2 {
    padding: 48px 25px;
    flex-wrap: nowrap;
  }
  .border_bottom {
    width: 255px;
    margin-bottom: 21px;
  }
  .input-1 {
    width: 700px;
  }
  .input-2 {
    width: 700px;
  }
  .input-3 {
    width: 615px;
  }
  .input-4 {
    width: 700px;
  }
  .form-button {
    background: #FFD050;
    width: 700px;
    padding: 20px 0px;
}
}
@media screen and (max-width:880px){
  .container_concat {
    width: 600px;
  }
  .coccat_block-1-text-1 {
    font-size: 46px;
    line-height: 53px;
    margin-bottom: 26px;
  }
  .coccat_block-1-text-2 {
    font-size: 17px;
  }
  .coccat_block-2 {
    padding: 44px 4px;
    justify-content: space-evenly;
  }
  .border_bottom {
    width: 220px;
    margin-bottom: 20px;
  }
  .border_bottom + p {
    font-size: 19px;
  }
  .input-1, .input-4, .input-2{
    width: 600px;
  }
  .input-3{
    width: 515px;
  }
  .form-button{
    width: 600px;
    font-size: 22px;
  }
  .coccat_block-1-text-1 {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width:780px){
  .container_concat {
    width: 400px;
  }
  .coccat_block-1-title {
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
  .coccat_block-1-text-1 {
    font-size: 38px;
    line-height: 35px;  
  }
  .coccat_block-2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .coccat_block-2-m-block-2{
    margin-top: 10px;
  }
  .coccat_block-1 {
    text-align: center;
    padding: 70px 0px 70px;
  }
  .input-1, .input-4{
    width: 400px;
    height: 60px;
    padding-left:20px;
  }
  .input-3{
    width: 315px;
    height: 56px;
  }
  .input-2 {
    padding: 25px 20px 45px;
    width: 400px;
    height: 80px;
  }
  .form-button {
    width: 400px;
    font-size: 19px;
    height: 44px;
    padding: 4px;
  }
  .border_bottom-2{
    display: block;
    border-bottom: 2px solid gray;
    width: 220px;
    margin-bottom: 10px;
    opacity: 0.5;
  }
  .border_bottom + p +span {
    display: block;
    margin-bottom: 30px;
}
}

@media screen and (max-width:560px){
  .container_concat {
    width: 340px;
  }
  .input-1, .input-4{
    width: 340px;
    height: 50px;
    padding-left:20px;
  }
  .input-3{
    width: 280px;
    height: 46px;
  }
  .coccat_block-1-text-1 {
    font-size: 33px;
    line-height: 21px;
  }
  .input-2 {
    padding: 25px 20px 45px;
    width: 340px;
    height: 70px;
  }
  .form-button {
    width: 340px;
    font-size: 19px;
    height: 33px;
    padding: 0px;
  }
  .coccat_block-1-text-2 {
    font-size: 16px;
  }
}
@media screen and (max-width:460px){
  .container_concat {
    width: 240px;
  }
  .input-1, .input-4{
    width: 240px;
    height: 50px;
    padding-left:20px;
  }
  .input-3{
    width: 200px;
    height: 46px;
  }
  .input-2 {
    padding: 25px 20px 45px;
    width: 240px;
    height: 70px;
  }
  .form-button {
    width: 240px;
    font-size: 19px;
    height: 33px;
    padding: 0px;
  }
  .coccat_block-1-title {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 14px;
  }
  .coccat_block-1-text-1 {
    font-size: 30px;
    line-height: 34px;
  }
  .border_bottom {
    width: 164px;
    margin-bottom: 20px;
    text-align: center;
  }
  .border_bottom-2 {
    width: 164px;
  }
  .border_bottom + p +span {
    width: 175px;
    display: block;
    font-size: 16px;
  }
  .border_bottom + p {
    font-size: 18px;
  }
  .coccat_block-2-m-block-2{
    margin-top: 30px;
  }
}


