<section>
  <div class="container_concat">
    <div class="coccat_block-1">
        <h2 class="coccat_block-1-title">Contact us</h2>
        <p class="coccat_block-1-text-1">Let’s Start a Conversation</p>
        <p class="coccat_block-1-text-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore <br>
          et dolore magna aliqua. Ut enim ad minim.
        </p>
    </div>
    <div class="coccat_block-2">
          <div class="coccat_block-2-m-block">
            <h2 class="coccat_block-2-m-1-title">Working hours</h2>
            <p class="border_bottom"></p>
            <p>
              Monday To Friday <br>
              9:00 AM to 8:00 PM
            </p>
            <span>
              Our Support Team is available 24/7
            </span>
          </div>
          <p class="border_bottom-2"></p>
            <div class="coccat_block-2-m-block-2">
              <h2 class="coccat_block-2-m-1-title">Contact</h2>
              <p class="border_bottom"></p>
              <p>020 7993 2905</p>
              <span>hello@finsweet.com</span>
            </div>
        </div>
        <div class="form_block">
        <span class="coccat_form_eroor" *ngIf="form.get('name')?.hasError('minlength')">Entre Your Name</span>
        <span class="coccat_form_eroor" *ngIf="form.get('email')?.hasError('pattern')">Entre Your  email</span>
        <span class="coccat_form_eroor" *ngIf="form.get('select')?.hasError('required')">Entre Your Query Related</span>
          
            <form [formGroup]="form">
                <input formControlName="name"  type="text" name="name" placeholder="Full Name" class="input-1">
                <input formControlName="email" type="email" name="email" placeholder="Your Email" class="input-1">
                <div class="input-4">
                    <select class="input-3" formControlName="select">
                        <option class="option" value="">Query Related</option>
                        <option class="option"  value="1">Query-1</option>
                        <option class="option"  value="2">Query-2</option>
                        <option class="option"  value="3">Query-3</option>
                        <option class="option"  value="4">Query-4</option>
                    </select>
                </div>
                <input type="text" formControlName="massage" name="message" placeholder="Message" class="input-2">
                <button  type="submit" [disabled]="form.invalid"  (click)="send()" class="form-button">Send
                Message</button>
            </form>
        </div>
  </div>
</section>