
<a  routerLink="/leaut/ahutor" class="ahutors-min-block">
  <div class="ahutors-min-img">
  <img src="{{authorsInner.img}}" alt="Image">
  </div>
  <h3 class="ahutors-min-title">{{authorsInner.name}}</h3>
  <p class="ahutors-min-text">{{authorsInner.paragraph}}</p>
  <div class="ahutors-link">
      <a href="#">
          <img src="{{authorsInner.icon1}}" alt="icons" class="">
      </a>
      <a href="#">
          <img src="{{authorsInner.icon2}}" alt="icons" class="">
      </a>
      <a href="#">
          <img src="{{authorsInner.icon3}}" alt="icons" class="">
      </a>
      <a href="#">
          <img src="{{authorsInner.icon4}}" alt="icons" class="">
      </a>
  </div>
</a>