 <a  [routerLink]="['/ahutor', ahutorsInner.id]" class="ahutors-min-block">
        <div class="ahutors-min-img">
            <img src="{{ahutorsInner.img}}" alt="Image">
        </div>
        <h3 class="ahutors-min-title">{{ahutorsInner.name}}</h3>
        <p class="ahutors-min-text">{{ahutorsInner.paragraph}}</p>
        <div class="ahutors-link">
            <a href="#">
                <img src="{{ahutorsInner.icon1}}" alt="icons" class="">
            </a>
            <a href="#">
                <img src="{{ahutorsInner.icon2}}" alt="icons" class="">
            </a>
            <a href="#">
                <img src="{{ahutorsInner.icon3}}" alt="icons" class="">
            </a>
            <a href="#">
            <img src="{{ahutorsInner.icon4}}" alt="icons" class="">
        </a>
    </div>
</a>
