*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container-5 {
  max-width: 1280px;
  margin: auto;
}

.catagory-title {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  margin: 135px 0px 50px;
  text-align: center;
}

.catagory-min-block-1 {
  border: 1px solid gray;
  padding: 38px 20px;
  width: 250px;
  transition: 1s;
  display: block;
  text-decoration: none;
  color: black
}
.catagory-min-block-icons-1 {
  background: #FBF6EA;
  display: inline-block;
  border-radius: 10px;
  width: 47px;
  height: 47px;
  padding-top: 0px;
  text-align: center;
  border-radius: 10px;
}
.catagory-min-block-1:hover {
  background-color: #FFD050;
}

.catagory-min-block-title {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin: 10px 0px 5px;
}

.catagory-min-block-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.catagory-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 130px;
}
.container-6 {
  width: 1280px;
  margin: auto;
}

.ahutors-title {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  text-align: center;
  margin-bottom: 56px;
}

.ahutors-section {
  margin-top: 150px;
  padding-top: 100px;
}

.ahutors-min-title {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  text-align: center;
}

.ahutors-min-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6D6E76;
  margin-bottom: 20px;
  margin-top: 6px;
}

.ahutors-link>a {
  text-decoration: none;
  padding: 20px 8px;

}

.ahutors-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
}

.ahutors-min-img {
  text-align: center;
  margin-bottom: 20px;
}

.ahutors-min-block {
  background: #F4F4F4;
  width: 295px;
  padding: 40px 0px;
  transition: 2s;
}

.ahutors-min-block:hover {
  background: #f0dca8;
}

.ahutors-link {
  text-align: center;
}

.ahutors-block-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.links-weare {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
}

.ahutors-flex-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.ahutors-block-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ahutors-flex-icons {
  width: 1000px;
}

.ahutors-block-links {
  width: 1000px;
  margin: auto;
  margin-bottom: 80px;
}

.ahutors-min-img>img {
  width: 128px;
  height: 128px;
}

@media screen and (max-width:1280px) {
  .catagory-block {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;
  }
  .catagory-min-block-1 {
    border: 1px solid gray;
    padding: 33px 18px;
    transition: 2s;
    margin: 10px;
    text-align: center;
  }
  .container-5 {
      width: 1100px;
  }
  .catagory-min-block-1:hover {
      background-color: #FFD050;
  }
  .ahutors-min-block {
    width: 220px;
  }

  .container-6 {
      width: 1000px;
  }

  .ahutors-min-img>img {
      width: 100px;
      height: 100px;
  }

  .ahutors-min-title {
      font-size: 25px;
  }

  .ahutors-link>a {
      padding: 9px 5px;
  }

  .ahutors-block-links {
      width: 800px;
      margin: auto;
      margin-bottom: 80px;
  }

  .icons-ahutors>a>img {
      width: 100px;
  }

  .ahutors-block-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }

  .ahutors-flex-icons {
      width: 800px;
  }
}

@media screen and (max-width:1160px) {
  .container-5 {
      width: 1000px;
  }

  .catagory-min-block-title {
      font-size: 24px;
  }

  .catagory-min-block-text {
      font-size: 15px;
      line-height: 26px;
  }
}

@media screen and (max-width:1060px) {
  .container-5 {
      width: 700px;
  }

  .catagory-block {
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
  }

  .catagory-min-block-1 {
      margin-top: 10px;
  }

  .catagory-title {
      font-size: 33px;
      line-height: 3px;
  }

}

@media screen and (max-width:780px) {
  .container-5 {
      width: 500px;
  }

  .catagory-title {
      font-size: 28px;
  }
}

@media screen and (max-width:580px) {
  .container-5 {
      width: 250px;
  }

  .catagory-title {
      font-size: 26px;
  }

  .catagory-min-block-1 {
      margin-top: 25px;
  }

}

@media screen and (max-width:380px) {
  .catagory-min-block-1 {
      padding: 12px 9px;
  }

  .catagory-min-block-title {
      font-size: 23px;
  }

  .catagory-min-block-text {
      font-size: 14px;
      line-height: 21px;
  }
  .catagory-block {
      margin-bottom: 52px;
  }
}
