<div id="block">
  <table>
    <tr>
      <td class="button-add-block">
        <button  (click)="post()" class="button-add" >Add</button>
      </td>
    </tr>
    <tbody>
      <tr>
        <th>
          <tr *ngFor="let item of data"> 
            <th class="th">
              <img src={{item.img}} alt="images" class="img-c-min">
            </th>
            <td>
              <textarea cols="10" class="td-text" rows="1">{{item.title}}</textarea>   
            </td>
            <td class="button">
                <button (click)="delate(item.id)">❌</button>
            </td>
            <td class="button">
              <button (click)="edit(item)">🖋️</button>
            </td>
          </tr>
        </th>
      </tr>
    </tbody>
    <tr>
      <td class="td-form">
          <div class="div-input" [ngStyle]="{'display' : bool ? 'flex' :'none'}">
            <form [formGroup]=" form" (ngSubmit)="save(item?.id)">
              <span (click)="colse()">X</span>
              <input formControlName="title" type="text" placeholder={{item?.title}}>>
              <input type="text" disabled style="display: none;">
              <button class="save-button">Save</button>
            </form>
          </div>
        </td>
      </tr>
    </table>
</div>
