<header class="header-nav-block">
  <div class="container">
      <div class="nav-block">
          <nav class="nav-section">
              <div>
                  <img src="assets/images/Fotor/Logo.png" alt="image" class="nav-logo-1">
              </div>
              <div class="nav-text-f">
                  <div class="nav-text"><a routerLink="home">Home</a></div>  
                  <div class="nav-text"><a routerLink="blog">Blog</a></div>
                  <div class="nav-text"><a routerLink="about-us">About us</a></div>
                  <div class="nav-text"><a routerLink="contact-us">Contact us</a></div>

                  <button class="nav-text-button">Subscribe</button>
              </div>
              <label for="oppen-menyu" class="oppen-menyu-img">
                  <img src="assets/images/Fotor/min-logo.png" alt="image">
              </label>
              <input type="checkbox" id="oppen-menyu" hidden>
              <div class="nav-oppen-menyu">
                  <div class="nav-oppen-f">
                    <div class="nav-text"><a routerLink="home">Home</a></div>  
                    <div class="nav-text"><a routerLink="blog">Blog</a></div>
                    <div class="nav-text"><a routerLink="about-us">About us</a></div>
                    <div class="nav-text"><a routerLink="contact-us">Contact us</a></div>
                  </div>
              </div>
          </nav>
      </div>
  </div>
</header>
