<section>
  <div class="container-jonsn">
      <div class="block-1-jonsn">
          <div class="jonsn-img">
              <img src="assets/images/repeatImages/user5.png" alt="image">
          </div>
          <div class="jonsn-min-text">
              <h2>Andrew Jonson</h2>
              <p>Posted on 27th January 2022</p>
          </div>
      </div>
      <div class="block-2-jonsn">
          <h2>Step-by-step guide to choosing <br> great font pairs</h2>
          <div class="block-2-icons">
              <img src="../../../assets/images/blogPostPage/shuttle.png" alt="image">
              <span>Startup</span>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container-blog-poste-img">
      <div class="blog-poste-img">
          <img src="../../../assets/images/blogPostPage/blogPost1.png" alt="image">
      </div>
  </div>
</section>
<section>
  <div class="container-blog-poste-text">
      <div>
          <h2 class="blog-poste-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing <br>
              elit, sed do eiusmod.
          </h2>
          <p class="blog-poste-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore <br>
              magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus
              viverra <br>
              adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus
              mauris vitae <br>
              ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque
              non.
          </p>
      </div>
      <div>
          <h2 class="blog-poste-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing <br>
              elit, sed do eiusmod.
          </h2>
          <p class="blog-poste-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore <br>
              magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus
              viverra <br>
              adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus
              mauris vitae <br>
              ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque
              non.
          </p>
          <p class="blog-poste-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore <br>
              magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus
              viverra <br>
              adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus
              mauris vitae <br>
              ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque
              non.
          </p>
          <ul class="blog-poste-ul">
              <li class="blog-poste-li">
                  Lorem ipsum dolor sit amet
              </li>
              <li class="blog-poste-li">
                  Non blandit massa enim nec scelerisque
              </li>
              <li class="blog-poste-li">
                  Neque egestas congue quisque egestas
              </li>
          </ul>
          <p class="blog-poste-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore <br>
              magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus
              viverra <br>
              adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus
              mauris vitae <br>
              ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque
              non.
          </p>
      </div>
      <div>
          <h2 class="blog-poste-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing <br>
              elit, sed do eiusmod.
          </h2>
          <p class="blog-poste-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore <br>
              magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus
              viverra <br>
              adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus
              mauris vitae <br>
              ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque
              non.
          </p>
      </div>
  </div>
</section>
<section>
  <div class="container-read">
      <h2 class="read-title">What to read next</h2>
      <div class="read-flex">
          <div *ngFor="let item of readArr">
            <app-read-next [readNextInner]="item" ></app-read-next>
          </div>
      </div>
  </div>
</section>
<section>
  <app-join-now></app-join-now>
</section>
