*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

table{
  background-color: rgb(158, 158, 158);
  opacity: .8;
  border: 2px solid rgba(0, 3, 36, 0.633);
  border-collapse: collapse;
  position: relative;
}
td{
  border: 2px solid rgba(0, 3, 36, 0.633);
  padding: 10px;
}
tr{
  border: 1px solid;
}
.th{
  padding: 10px;
  border: 2px solid rgba(0, 3, 36, 0.633);
  width: 40vh;
}
.button{
  padding: 0px 5px;
  padding: 0px 5px !important;
  width: 10vh !important;
}
input{
  padding: 10px;
  background-color: rgba(58, 58, 58, 0.633);
  display: block;
  border: none;
  margin: 10px;
  border-radius: 20px;
}
input::placeholder{
  color: white;
  font-size: 16px;
  font-family: cursive;
}

input{
  color: white;
  font-size: 16px;
  font-family: cursive;
}
.div-input{
  display: none;
  position: absolute;
  background-color: rgba(0, 12, 81, 0.534);
  top: 80px;
  left: 300px;
  padding: 20px 80px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.td-form{
  border: none !important;
  padding: 0px !important;
  width: 0%  !important;
}
.button-add{
  width: 96%;
  background-color: rgba(0, 3, 36, 0.633);
  color: white;
  border: none;
  padding: 3px;
}
.button-add-block{
  text-align: center;
}
.save-button{
  background-color: rgba(0, 3, 36, 0.92);
  color: white;
  border: none;
  padding: 3px;
  width: 50%;
  display: block;
}
.button-close{
  background-color: rgba(0, 3, 36, 0.92);
  color: white;
  border: none;
  width: 20%;
  font-size: 20px;
  padding: 2px 3px;
}
button{
  cursor: pointer;
}
.img-know{
  width: 60px;
  height: 40px;
  margin: 6px;
}
.td-text{
  width: 30vh;
  background-color: #3a3a3a00;
  border: none;
  text-align: center;
  resize: none;
}
.td-text::-webkit-scrollbar{
  overflow: hidden;
}